@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Light.eot');
    src: url('../fonts/subset-ProximaNova-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Regular.eot');
    src: url('../fonts/subset-ProximaNova-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Semibold.eot');
    src: url('../fonts/subset-ProximaNova-Semibold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Bold.eot');
    src: url('../fonts/subset-ProximaNova-Bold.ttf');
    font-weight: bold;
}