* {
    box-sizing: border-box;
}

a {
    text-decoration: unset;
}

body {
    width: 480px;
    margin: auto;
    font-family: 'Proxima Nova';
    font-size: 20px;
    background: #060B16;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    text-wrap: balance;
}

.top-offer {
    background: black;
    position: relative;
    border-top: 60px solid #211035;
}


section,
.top-offer {
    position: relative;
}


.modal-body {
    background: #fffffffa;
    z-index: 90;
    padding: 80px 0 0 0;
    display: inline-block;
    max-width: 480px;
    width: 100%;
    -webkit-transform: skewX(-5deg) translateX(200%);
    -ms-transform: skewX(-5deg) translateX(200%);
    transform: skewX(-5deg) translateX(200%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s;
    transition: opacity 0.1s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.1s;
    transition: transform 0.3s, opacity 0.1s;
    transition: transform 0.3s, opacity 0.1s, -webkit-transform 0.3s;
    height: 100vh;
    overflow: auto;
}

.modal-block {
    padding: 0;
}

.modal-block li {
    text-align: right;
    padding: 0 10px;
    border-bottom: 1px solid #efefef;
    display: block;
    height: 47.5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.modal-block li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #20222d;
    display: block;
    width: 100%;
    height: 47.5px;
    line-height: 47.5px;
}

.modal-body.show-menu {
    opacity: 1 !important;
    transform: skewX(0deg) translate(0, 0) !important;
    -webkit-transform: skewX(0deg) translate(0, 0) !important;
    -ms-transform: skewX(0deg) translate(0, 0) !important;
}

header {
    width: 100%;
    height: 60px;
    transform: translate(0, -100%);
    transition: 0.5s;
    padding: 0 20px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

header.active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    transition: 0.5s;
    z-index: 100;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
    background: #211035;
}

header a.logo svg {
    width: 120px;
    margin: 0 0;
}

header a.logo {
    width: 90px;
    height: 51px;
    transition: 0.6s;
}

header a.logo:hover {
    opacity: 0.7;
}

header a.logo img {
    width: 100%;
}

svg.nav-button {
    width: 44px;
    transition: 0.6s;
    cursor: pointer;
}

svg.nav-button:hover {
    opacity: 0.7;
}

.offer_section-top {
    /* border-top: 60px solid #F7931D; */
}

.modal-block li svg {
    width: 36px;
    fill: #ffc226;
}

footer {
    padding: 40px 0 30px 0;
}

footer .logo img {
    width: 150px;
    margin: 0 auto 20px auto;
}


.top-offer {
    /* background: #060B16 url(../img/.top-offer_bg.png) top center no-repeat; */
    padding: 36px 0 50px;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    color: #eefc34;
}

.top-offer h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 6px;
}

.top-offer .exclusive {
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 396px;
    height: 56px;
    margin: 16px auto;
    background: linear-gradient(92.44deg, #B026BC 9.87%, #2A4AD0 105.47%);
    border-radius: 8px;
    position: relative;
    z-index: 3;
}

.top-offer .exclusive:before {
    content: '';
    position: absolute;
    width: 256px;
    height: 56px;
    border-radius: 8px;
    background: linear-gradient(92.48deg, #9C24A6 9.85%, #2A4AD0 109.52%, #EEFC34 109.53%, #11156B 109.54%, #1B2338 109.55%);
    opacity: 0.8;
    filter: blur(30px);
    top: 15px;
    z-index: -1;
}

.top-offer .cars_logo {
    margin: 45px auto;
    display: block;
}

.top-offer .blue_light {
    position: absolute;
    width: 191px;
    height: 140px;
    left: -150px;
    top: 427px;
    background: #3846CE;
    filter: blur(50px);
}

.top-offer .purple_light {
    position: absolute;
    width: 191px;
    height: 133px;
    /* right: -170px; */
    top: 885px;
    background: #B026BC;
    opacity: 0.8;
    filter: blur(50px);
}

.top-offer h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.top-offer .offer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    gap: 20px;
}

.top-offer .offer .left_side {
    display: flex;
    color: #818EAB;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.top-offer .offer .left_side span {
    font-size: 20px;
    line-height: 24px;
}

.top-offer .offer .left_side strong {
    font-size: 25px;
    line-height: 30px;
    position: relative;
}

.top-offer .offer .left_side strong::before {
    content: '';
    background: #818EAB;
    height: 2px;
    width: 110%;
    transform: rotate(-10deg);
    position: absolute;
    bottom: 14px;
}

.top-offer .offer .percent {
    width: 113px;
    height: 113px;
    background: #EF3047;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

.top-offer .offer .percent span {
    font-size: 22px;
    line-height: 18px;
}

.top-offer .offer .percent strong {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin-top: 8px;
}

.top-offer .offer .percent::after {
    position: absolute;
    width: 113px;
    height: 61px;
    top: 880px;
    background: #EF3047;
    opacity: 0.6;
    filter: blur(20px);
}

.top-offer .offer .right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.top-offer .offer .right_side span {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #EEEEEE;
}

.top-offer .offer .right_side strong {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #6096FD;
}

.content_wrapper {
    padding: 0 25px;
}

.button {
    cursor: pointer;
    border: unset;
    width: 343px;
    height: 75.03px;
    background: linear-gradient(92.44deg, #B026BC 9.87%, #2A4AD0 105.47%, #EEFC34 105.48%, #11156B 105.49%, #FFFFFF 105.5%);
    border-radius: 10.7188px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 35px auto;
    color: #FFFFFF;
    position: relative;
    font-weight: 700;
    font-size: 26.7969px;
    line-height: 33px;
}

.top-offer a.button::after {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
}

.prod_left {
    width: 317px;
    /* height: 42.64px; */
    margin: auto;
    background: #151F34;
    border-radius: 6.43655px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 13px;
    text-align: center;
}

.prod_left span {
    color: #EF3047;
}

.sect2 {
    background: #162037;
    padding-top: 36px;
    padding-bottom: 90px;
}

section h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5FE;
}

.sect2 .sub_title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.sect2 .sub_title span {
    color: #7B95FF;
}

.sect2 img {
    border-radius: 22.75px;
    margin: 15px 0 15px;
}

.sect2 p.desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.sect2 p.desc span {
    display: block;
    color: #eefc34;
    padding-bottom: 7px;
}

.sect2 .cta_group {
    margin-top: 55px;
    background: #10182A;
    position: relative;
    border-radius: 20px;
}

.sect2 .cta_group p {
    padding: 10px 10px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5FE;
    border-radius: 20px;
}

.sect2 .cta_group div.button {
    position: relative;
    margin: 0 auto;
    top: 35px;
}

.sect2 .cta_group div.button::before {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.44deg, #5B1461 9.87%, #2A4AD0 105.47%, #EEFC34 105.48%, #11156B 105.49%, #FFFFFF 105.5%);
    border-radius: 10.7188px;
    top: 6px;
}

.sect2 .cta_group div.button::after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 28.14px;
    background: linear-gradient(92.48deg, #9C24A6 9.85%, #2A4AD0 109.52%, #EEFC34 109.53%, #11156B 109.54%, #1B2338 109.55%);
    opacity: 0.7;
    filter: blur(40.1953px);
    border-radius: 10.7188px;
    bottom: 0;
}

.sect2 .cta_group a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7px;
}

.sect2 .cta_group a.button::before {
    content: url(../images/fingerprint.png);
    height: 40px;
}

.sect3 {
    background: #04070F;
}

.sect3 li span {
    color: #7B95FF;
    font-weight: 700;
}

.sect3 figure {
    margin: 0;
}

.sect3 figure figcaption {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.sect3 figure figcaption span {
    flex: 1;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    ;
}

ul li img {
    display: block;
}

.sect3 ul {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.sect3 img {
    max-width: 100%;
    display: block;
}

.sect3 ul li {
    height: 50px;
}

.sect4 {
    padding-top: 30px;
}

.sect4 h2 {
    margin-bottom: 30px;
}

.sect4 .slider_review .review_card {
    max-width: 350px;
    /* min-height: 600px; */
    max-height: 720px;
    background: #162037;
    border-radius: 8px;
    margin: 0 7px;
    padding: 30px 20px;
    box-sizing: content-box;
    outline: unset;
}

.sect4 .slider_review .review_card .review_photo {
    margin-bottom: 0;
    width: 100%;
}

.sect4 .slider_review .review_card .rev_pers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sect4 .slider_review .review_card .rev_pers .pers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
}

.sect4 .slider_review .review_card .rev_pers .pers .pers_name {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.sect4 .slider_review .review_card .rev_pers .pers .pers_age {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #7989AE;
    margin-top: 2px;
    margin-bottom: 5px;
}

.sect4 .slider_review .review_card .rev_pers .date {
    font-size: 15px;
    line-height: 18px;
    color: #838995;
}

.sect4 .slider_review .review_card .review_text>p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    color: #FFFFFF;
}

.sect4 .slider_review .slick-dots li button {
    background: #162037;
    border-radius: 50%;
}

.sect4 .slider_review .slick-dots li.slick-active button {
    background: linear-gradient(92.44deg, #B026BC 9.87%, #2A4AD0 105.47%, #EEFC34 105.48%, #11156B 105.49%, #FFFFFF 105.5%);
}

.sect4 .slider_review .slick-dots li button:before {
    opacity: 0;
}

.sect5 {
    padding-top: 90px;
}

.sect5 .how_order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    margin-top: 70px;
}

.sect5 .order_step {
    display: grid;
    justify-items: center;
    gap: 9px;
    text-align: center;
    font-weight: 600;
}

.sect5 .order_step span {
    font-size: 28.8825px;
    line-height: 35px;
    color: #E5E5FE;
}

.sect5 .order_step p {
    font-size: 19.255px;
    line-height: 23px;
    color: #A2B2D3;
}

#order_form form {
    margin-top: 35px;
    padding: 0 41px;
}

#order_form select {
    text-indent: 28px;
    padding: 0;
    height: 80px;
}

#order_form form input,
select {
    width: 100%;
    display: block;
    background: #151F34;
    box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    border: unset;
    color: #A2B2D3;
    padding: 27px 35px;
    margin-bottom: 25px;
}

#order_form form button {
    width: 100%;
}

#order_form form button.button::after {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
}

#order_form form div.button {
    position: relative;
    margin: 0 auto;
    width: 100%;
    margin-top: 48px;
}

#order_form form div.button::before {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.44deg, #5B1461 9.87%, #2A4AD0 105.47%, #EEFC34 105.48%, #11156B 105.49%, #FFFFFF 105.5%);
    border-radius: 10.7188px;
    top: 6px;
}

#order_form form div.button::after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 28.14px;
    background: linear-gradient(92.48deg, #9C24A6 9.85%, #2A4AD0 109.52%, #EEFC34 109.53%, #11156B 109.54%, #1B2338 109.55%);
    opacity: 0.7;
    filter: blur(40.1953px);
    border-radius: 10.7188px;
    bottom: 0;
}

#order_form form a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7px;
}

.succes {
    color: white;
}

#order_form form input#filter-switch {
    display: none;
}

.dropdown ul li {
    margin: 0;
}

.dropdown {
    margin-bottom: 25px;
    width: 100%;
    /* box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3); */
}

.dropdown__switch+.dropdown__options-filter .dropdown__filter-selected {
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    overflow: hidden;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    border: 1px solid #151f34;
    border-left-width: 10px;
    border-right-width: 50px;
}

.dropdown__switch:checked+.dropdown__options-filter .dropdown__filter-selected {
    /* flex-direction: unset;
justify-content: unset; */
}

.dropdown__switch:checked+.dropdown__options-filter .dropdown__filter {
    border: 1px solid #3d4554;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #171e2e;
}

.dropdown__switch:checked+.dropdown__options-filter .dropdown__select {
    transform: scaleY(1);
    border: 1px solid #3d4554;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown__switch:checked+.dropdown__options-filter .dropdown__filter:after {
    transform: rotate(-135deg);
}

.dropdown__options-filter {
    width: 100%;
    cursor: pointer;
}

.dropdown__filter {
    position: relative;
    display: flex;
    padding: 20px;
    color: #595959;
    color: #A2B2D3;
    transition: 0.3s;
    background: #151F34;
    /* box-shadow: 0px 11px 20px rgb(0 0 0 / 8%); */
    border-radius: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-indent: 28px;
    padding: 0;
    height: 80px;
}

.dropdown__filter::after {
    position: absolute;
    top: 45%;
    right: 20px;
    content: "";
    width: 10px;
    height: 10px;
    width: 6px;
    height: 6px;
    border-right: 3px solid #a2b2d3;
    border-bottom: 3px solid #a2b2d3;
    transform: rotate(45deg) translateX(-45%);
    transition: 0.2s ease-in-out;
}

.dropsimb {
    object-fit: cover;
    height: 20px;
    position: relative;
}

.dropdown__select {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    font-weight: 300;
    transition: 0.2s ease-in-out;
    border: 1px solid #3d4554;
}

.dropdown__switch:checked+.dropdown__options-filter .dropdown__select {
    box-shadow: 0 20px 15px 15px #05080e;
}

.footer p {
    color: #FFFFFF !important;
}

footer a {
    color: white;
}

.dropdown__select-option {
    padding: 20px;
    background-color: #0b111c;
    border-bottom: 5px solid #6a6a6a;
    transition: 0.3s;
    flex-direction: column;
    gap: 16px;
}

.dropdown__select-option:last-of-type {
    border-bottom: 0;
}

.dropdown__select-option:hover {
    background-color: #f9f9f9;
}

.video_block {
    background-color: transparent;
    margin-top: 50px;
    /* border-radius: 20px; */
    overflow: hidden;
}

.video_block img {
    margin: 0;
}

.video_block iframe,
.video_block object,
.video_block embed {
    display: block;
    width: 100%;
    height: 270px;
}